###################Register_Table t51m t51k 20190102####################
Reg[00h]=01h ##State_Control_1
Reg[01h]=04h ##State_Control_2
Reg[02h]=00h ##State_Control_3
Reg[03h]=13h ##Master_volume_control
Reg[04h]=00h ##Channel_1_volume_control
Reg[05h]=00h ##Channel_2_volume_control
Reg[06h]=00h ##Channel_3_volume_control
Reg[07h]=00h ##Channel_4_volume_control
Reg[08h]=00h ##Channel_5_volume_control
Reg[09h]=00h ##Channel_6_volume_control
Reg[0ah]=10h ##Bass_Tone_Boost_and_Cut
Reg[0bh]=10h ##treble_Tone_Boost_and_Cut
Reg[0ch]=98h ##State_Control_4
Reg[0dh]=00h ##Channel_1_configuration_registers
Reg[0eh]=00h ##Channel_2_configuration_registers
Reg[0fh]=00h ##Channel_3_configuration_registers
Reg[10h]=00h ##Channel_4_configuration_registers
Reg[11h]=00h ##Channel_5_configuration_registers
Reg[12h]=00h ##Channel_6_configuration_registers
Reg[13h]=00h ##Channel_7_configuration_registers
Reg[14h]=00h ##Channel_8_configuration_registers
Reg[15h]=0fh ##DRC1_limiter_attack/release_rate
Reg[16h]=6ah ##DRC2_limiter_attack/release_rate
Reg[17h]=6ah ##DRC3_limiter_attack/release_rate
Reg[18h]=6ah ##DRC4_limiter_attack/release_rate
Reg[19h]=06h ##Error_Delay
Reg[1ah]=22h ##State_Control_5
Reg[1bh]=81h ##HVUV_selection
Reg[1ch]=00h ##State_Control_6
Reg[1dh]=57h ##Coefficient_RAM_Base_Address
Reg[1eh]=10h ##Top_8-bits_of_coefficients_A1
Reg[1fh]=fdh ##Middle_8-bits_of_coefficients_A1
Reg[20h]=01h ##Bottom_8-bits_of_coefficients_A1
Reg[21h]=00h ##Top_8-bits_of_coefficients_A2
Reg[22h]=00h ##Middle_8-bits_of_coefficients_A2
Reg[23h]=00h ##Bottom_8-bits_of_coefficients_A2
Reg[24h]=00h ##Top_8-bits_of_coefficients_B1
Reg[25h]=00h ##Middle_8-bits_of_coefficients_B1
Reg[26h]=00h ##Bottom_8-bits_of_coefficients_B1
Reg[27h]=00h ##Top_8-bits_of_coefficients_B2
Reg[28h]=00h ##Middle_8-bits_of_coefficients_B2
Reg[29h]=00h ##Bottom_8-bits_of_coefficients_B2
Reg[2ah]=20h ##Top_8-bits_of_coefficients_A0
Reg[2bh]=00h ##Middle_8-bits_of_coefficients_A0
Reg[2ch]=00h ##Bottom_8-bits_of_coefficients_A0
Reg[2dh]=00h ##Coefficient_R/W_control
Reg[2eh]=00h ##Protection_Enable/Disable
Reg[2fh]=00h ##Memory_BIST_status
Reg[30h]=00h ##Power_Stage_Status(Read_only)
Reg[31h]=00h ##PWM_Output_Control
Reg[32h]=00h ##Test_Mode_Control_Reg.
Reg[33h]=65h ##Qua-Ternary/Ternary_Switch_Level
Reg[34h]=00h ##Volume_Fine_tune
Reg[35h]=00h ##Volume_Fine_tune
Reg[36h]=60h ##OC_bypass_&_GVDD_selection
Reg[37h]=52h ##Device_ID_register
Reg[38h]=00h ##RAM1_test_register_address
Reg[39h]=00h ##Top_8-bits_of_RAM1_Data
Reg[3ah]=00h ##Middle_8-bits_of_RAM1_Data
Reg[3bh]=00h ##Bottom_8-bits_of_RAM1_Data
Reg[3ch]=00h ##RAM1_test_r/w_control
Reg[3dh]=00h ##RAM2_test_register_address
Reg[3eh]=00h ##Top_8-bits_of_RAM2_Data
Reg[3fh]=00h ##Middle_8-bits_of_RAM2_Data
Reg[40h]=00h ##Bottom_8-bits_of_RAM2_Data
Reg[41h]=00h ##RAM2_test_r/w_control
Reg[42h]=00h ##Level_Meter_Clear
Reg[43h]=00h ##Power_Meter_Clear
Reg[44h]=7fh ##TOP_of_C1_Level_Meter
Reg[45h]=ffh ##Middle_of_C1_Level_Meter
Reg[46h]=ffh ##Bottom_of_C1_Level_Meter
Reg[47h]=7fh ##TOP_of_C2_Level_Meter
Reg[48h]=ffh ##Middle_of_C2_Level_Meter
Reg[49h]=ffh ##Bottom_of_C2_Level_Meter
Reg[4ah]=00h ##TOP_of_C3_Level_Meter
Reg[4bh]=00h ##Middle_of_C3_Level_Meter
Reg[4ch]=00h ##Bottom_of_C3_Level_Meter
Reg[4dh]=00h ##TOP_of_C4_Level_Meter
Reg[4eh]=00h ##Middle_of_C4_Level_Meter
Reg[4fh]=00h ##Bottom_of_C4_Level_Meter
Reg[50h]=00h ##TOP_of_C5_Level_Meter
Reg[51h]=00h ##Middle_of_C5_Level_Meter
Reg[52h]=00h ##Bottom_of_C5_Level_Meter
Reg[53h]=00h ##TOP_of_C6_Level_Meter
Reg[54h]=00h ##Middle_of_C6_Level_Meter
Reg[55h]=00h ##Bottom_of_C6_Level_Meter
Reg[56h]=00h ##TOP_of_C7_Level_Meter
Reg[57h]=00h ##Middle_of_C7_Level_Meter
Reg[58h]=00h ##Bottom_of_C7_Level_Meter
Reg[59h]=00h ##TOP_of_C8_Level_Meter
Reg[5ah]=00h ##Middle_of_C8_Level_Meter
Reg[5bh]=00h ##Bottom_of_C8_Level_Meter
Reg[5ch]=06h ##I2S_Data_Output_Selection_Register
Reg[5dh]=00h ##Reserve
Reg[5eh]=00h ##Reserve
Reg[5fh]=00h ##Reserve
Reg[60h]=00h ##Reserve
Reg[61h]=00h ##Reserve
Reg[62h]=00h ##Reserve
Reg[63h]=00h ##Reserve
Reg[64h]=00h ##Reserve
Reg[65h]=00h ##Reserve
Reg[66h]=00h ##Reserve
Reg[67h]=00h ##Reserve
Reg[68h]=00h ##Reserve
Reg[69h]=00h ##Reserve
Reg[6ah]=00h ##Reserve
Reg[6bh]=00h ##Reserve
Reg[6ch]=00h ##Reserve
Reg[6dh]=00h ##Reserve
Reg[6eh]=00h ##Reserve
Reg[6fh]=00h ##Reserve
Reg[70h]=00h ##Reserve
Reg[71h]=00h ##Reserve
Reg[72h]=00h ##Reserve
Reg[73h]=00h ##Reserve
Reg[74h]=00h ##Mono_Key_High_Byte
Reg[75h]=00h ##Mono_Key_Low_Byte
Reg[76h]=00h ##Boost_Control
Reg[77h]=07h ##Hi-res_Item
Reg[78h]=40h ##Test_Mode_register
Reg[79h]=62h ##Boost_Strap_OV/UV_Selection
Reg[7ah]=8ch ##OC_Selection_2
Reg[7bh]=55h ##MBIST_User_Program_Top_Byte_Even
Reg[7ch]=55h ##MBIST_User_Program_Middle_Byte_Even
Reg[7dh]=55h ##MBIST_User_Program_Bottom_Byte_Even
Reg[7eh]=55h ##MBIST_User_Program_Top_Byte_Odd
Reg[7fh]=55h ##MBIST_User_Program_Middle_Byte_Odd
Reg[80h]=55h ##MBIST_User_Program_Bottom_Byte_Odd
Reg[81h]=00h ##ERROR_clear_register
Reg[82h]=0ch ##Minimum_duty_test
Reg[83h]=06h ##Reserve
Reg[84h]=feh ##Reserve
Reg[85h]=eeh ##Reserve

#####################Ram1_Table#######################
Coef_R1[00h]=c056f6h ##Channel_1_EQ1_A1 
Coef_R1[01h]=1fd485h ##Channel_1_EQ1_A2 
Coef_R1[02h]=3fa8bfh ##Channel_1_EQ1_B1 
Coef_R1[03h]=e056aah ##Channel_1_EQ1_B2 
Coef_R1[04h]=1fd485h ##Channel_1_EQ1_A0 
Coef_R1[05h]=c056f6h ##Channel_1_EQ2_A1 
Coef_R1[06h]=1fd485h ##Channel_1_EQ2_A2 
Coef_R1[07h]=3fa8bfh ##Channel_1_EQ2_B1 
Coef_R1[08h]=e056aah ##Channel_1_EQ2_B2 
Coef_R1[09h]=1fd485h ##Channel_1_EQ2_A0 
Coef_R1[0ah]=c056f6h ##Channel_1_EQ3_A1 
Coef_R1[0bh]=1fd485h ##Channel_1_EQ3_A2 
Coef_R1[0ch]=3fa8bfh ##Channel_1_EQ3_B1 
Coef_R1[0dh]=e056aah ##Channel_1_EQ3_B2 
Coef_R1[0eh]=1fd485h ##Channel_1_EQ3_A0 
Coef_R1[0fh]=c15005h ##Channel_1_EQ4_A1 
Coef_R1[10h]=1f328ah ##Channel_1_EQ4_A2 
Coef_R1[11h]=3eaffbh ##Channel_1_EQ4_B1 
Coef_R1[12h]=e1486ch ##Channel_1_EQ4_B2 
Coef_R1[13h]=1f8509h ##Channel_1_EQ4_A0 
Coef_R1[14h]=000000h ##Channel_1_EQ5_A1 
Coef_R1[15h]=000000h ##Channel_1_EQ5_A2 
Coef_R1[16h]=000000h ##Channel_1_EQ5_B1 
Coef_R1[17h]=000000h ##Channel_1_EQ5_B2 
Coef_R1[18h]=200000h ##Channel_1_EQ5_A0 
Coef_R1[19h]=c0e03eh ##Channel_1_EQ6_A1 
Coef_R1[1ah]=1f439fh ##Channel_1_EQ6_A2 
Coef_R1[1bh]=3f1fc2h ##Channel_1_EQ6_B1 
Coef_R1[1ch]=e09c2bh ##Channel_1_EQ6_B2 
Coef_R1[1dh]=202036h ##Channel_1_EQ6_A0 
Coef_R1[1eh]=c2a7efh ##Channel_1_EQ7_A1 
Coef_R1[1fh]=1ea0a2h ##Channel_1_EQ7_A2 
Coef_R1[20h]=3d5811h ##Channel_1_EQ7_B1 
Coef_R1[21h]=e1c1cbh ##Channel_1_EQ7_B2 
Coef_R1[22h]=1f9d92h ##Channel_1_EQ7_A0 
Coef_R1[23h]=cf0dbbh ##Channel_1_EQ8_A1 
Coef_R1[24h]=16546dh ##Channel_1_EQ8_A2 
Coef_R1[25h]=30f245h ##Channel_1_EQ8_B1 
Coef_R1[26h]=e77b6bh ##Channel_1_EQ8_B2 
Coef_R1[27h]=223028h ##Channel_1_EQ8_A0 
Coef_R1[28h]=000000h ##Channel_1_EQ9_A1 
Coef_R1[29h]=000000h ##Channel_1_EQ9_A2 
Coef_R1[2ah]=000000h ##Channel_1_EQ9_B1 
Coef_R1[2bh]=000000h ##Channel_1_EQ9_B2 
Coef_R1[2ch]=200000h ##Channel_1_EQ9_A0 
Coef_R1[2dh]=000000h ##Channel_1_EQ10_A1 
Coef_R1[2eh]=000000h ##Channel_1_EQ10_A2 
Coef_R1[2fh]=000000h ##Channel_1_EQ10_B1 
Coef_R1[30h]=000000h ##Channel_1_EQ10_B2 
Coef_R1[31h]=200000h ##Channel_1_EQ10_A0 
Coef_R1[32h]=000000h ##Channel_1_EQ11_A1 
Coef_R1[33h]=000000h ##Channel_1_EQ11_A2 
Coef_R1[34h]=000000h ##Channel_1_EQ11_B1 
Coef_R1[35h]=000000h ##Channel_1_EQ11_B2 
Coef_R1[36h]=200000h ##Channel_1_EQ11_A0 
Coef_R1[37h]=000000h ##Channel_1_EQ12_A1 
Coef_R1[38h]=000000h ##Channel_1_EQ12_A2 
Coef_R1[39h]=000000h ##Channel_1_EQ12_B1 
Coef_R1[3ah]=000000h ##Channel_1_EQ12_B2 
Coef_R1[3bh]=200000h ##Channel_1_EQ12_A0 
Coef_R1[3ch]=000000h ##Channel_1_EQ13_A1 
Coef_R1[3dh]=000000h ##Channel_1_EQ13_A2 
Coef_R1[3eh]=000000h ##Channel_1_EQ13_B1 
Coef_R1[3fh]=000000h ##Channel_1_EQ13_B2 
Coef_R1[40h]=200000h ##Channel_1_EQ13_A0 
Coef_R1[41h]=000000h ##Channel_1_EQ14_A1 
Coef_R1[42h]=000000h ##Channel_1_EQ14_A2 
Coef_R1[43h]=000000h ##Channel_1_EQ14_B1 
Coef_R1[44h]=000000h ##Channel_1_EQ14_B2 
Coef_R1[45h]=200000h ##Channel_1_EQ14_A0 
Coef_R1[46h]=000000h ##Channel_1_EQ15_A1 
Coef_R1[47h]=000000h ##Channel_1_EQ15_A2 
Coef_R1[48h]=000000h ##Channel_1_EQ15_B1 
Coef_R1[49h]=000000h ##Channel_1_EQ15_B2 
Coef_R1[4ah]=200000h ##Channel_1_EQ15_A0 
Coef_R1[4bh]=7fffffh ##Channel_1_Mixer1 
Coef_R1[4ch]=000000h ##Channel_1_Mixer2 
Coef_R1[4dh]=7fffffh ##Channel_1_Prescale 
Coef_R1[4eh]=7fffffh ##Channel_1_Postscale 
Coef_R1[4fh]=c7b691h ##A0_of_L_channel_SRS_HPF 
Coef_R1[50h]=38496eh ##A1_of_L_channel_SRS_HPF 
Coef_R1[51h]=0c46f8h ##B1_of_L_channel_SRS_HPF 
Coef_R1[52h]=0e81b9h ##A0_of_L_channel_SRS_LPF 
Coef_R1[53h]=f22c12h ##A1_of_L_channel_SRS_LPF 
Coef_R1[54h]=0fcabbh ##B1_of_L_channel_SRS_LPF 
Coef_R1[55h]=200000h ##CH1.2_Power_Clipping 
Coef_R1[56h]=11feb3h ##CCH1.2_DRC1_Attack_threshold 
Coef_R1[57h]=10fd01h ##CH1.2_DRC1_Release_threshold 
Coef_R1[58h]=200000h ##CH3.4_DRC2_Attack_threshold 
Coef_R1[59h]=080000h ##CH3.4_DRC2_Release_threshold 
Coef_R1[5ah]=200000h ##CH5.6_DRC3_Attack_threshold 
Coef_R1[5bh]=080000h ##CH5.6_DRC3_Release_threshold 
Coef_R1[5ch]=200000h ##CH7.8_DRC4_Attack_threshold 
Coef_R1[5dh]=080000h ##CH7.8_DRC4_Release_threshold 
Coef_R1[5eh]=00001ah ##Noise_Gate_Attack_Level 
Coef_R1[5fh]=000053h ##Noise_Gate_Release_Level 
Coef_R1[60h]=020000h ##DRC1_Energy_Coefficient 
Coef_R1[61h]=002000h ##DRC2_Energy_Coefficient 
Coef_R1[62h]=008000h ##DRC3_Energy_Coefficient 
Coef_R1[63h]=008000h ##DRC4_Energy_Coefficient 
Coef_R1[64h]=02bd67h DRC1_Power_Meter
Coef_R1[65h]=000000h DRC3_Power_Mete
Coef_R1[66h]=000000h DRC5_Power_Meter
Coef_R1[67h]=000000h DRC7_Power_Meter
Coef_R1[68h]=000000h ##Channel_1_DEQ1_A1 
Coef_R1[69h]=000000h ##Channel_1_DEQ1_A2
Coef_R1[6ah]=000000h ##Channel_1_DEQ1_B1
Coef_R1[6bh]=000000h ##Channel_1_DEQ1_B2 
Coef_R1[6ch]=200000h ##Channel_1_DEQ1_A0
Coef_R1[6dh]=000000h ##Channel_1_DEQ2_A1 
Coef_R1[6eh]=000000h ##Channel_1_DEQ2_A2 
Coef_R1[6fh]=000000h ##Channel_1_DEQ2_B1 
Coef_R1[70h]=000000h ##Channel_1_DEQ2_B2 
Coef_R1[71h]=200000h ##Channel_1_DEQ2_A0 
Coef_R1[72h]=000000h ##Channel_1_DEQ3_A1 
Coef_R1[73h]=000000h ##Channel_1_DEQ3_A2 
Coef_R1[74h]=000000h ##Channel_1_DEQ3_B1 
Coef_R1[75h]=000000h ##Channel_1_DEQ3_B2 
Coef_R1[76h]=200000h ##Channel_1_DEQ3_A0 
Coef_R1[77h]=000000h ##Channel_1_DEQ4_A1 
Coef_R1[78h]=000000h ##Channel_1_DEQ4_A2 
Coef_R1[79h]=000000h ##Channel_1_DEQ4_B1 
Coef_R1[7ah]=000000h ##Channel_1_DEQ4_B2 
Coef_R1[7bh]=200000h ##Channel_1_DEQ4_A0 
Coef_R1[7ch]=000000h ##Reserve
Coef_R1[7dh]=000000h ##Reserve
Coef_R1[7eh]=000000h ##Reserve
Coef_R1[7fh]=000000h ##Reserve

######################Ram2_Mode########################
Coef_R2[00h]=000000h ##Channel_2_EQ1_A1 
Coef_R2[01h]=000000h ##Channel_2_EQ1_A2 
Coef_R2[02h]=000000h ##Channel_2_EQ1_B1 
Coef_R2[03h]=000000h ##Channel_2_EQ1_B2 
Coef_R2[04h]=200000h ##Channel_2_EQ1_A0 
Coef_R2[05h]=000000h ##Channel_2_EQ2_A1 
Coef_R2[06h]=000000h ##Channel_2_EQ2_A2 
Coef_R2[07h]=000000h ##Channel_2_EQ2_B1 
Coef_R2[08h]=000000h ##Channel_2_EQ2_B2 
Coef_R2[09h]=200000h ##Channel_2_EQ2_A0 
Coef_R2[0ah]=000000h ##Channel_2_EQ3_A1 
Coef_R2[0bh]=000000h ##Channel_2_EQ3_A2 
Coef_R2[0ch]=000000h ##Channel_2_EQ3_B1 
Coef_R2[0dh]=000000h ##Channel_2_EQ3_B2 
Coef_R2[0eh]=200000h ##Channel_2_EQ3_A0 
Coef_R2[0fh]=000000h ##Channel_2_EQ4_A1 
Coef_R2[10h]=000000h ##Channel_2_EQ4_A2 
Coef_R2[11h]=000000h ##Channel_2_EQ4_B1 
Coef_R2[12h]=000000h ##Channel_2_EQ4_B2 
Coef_R2[13h]=200000h ##Channel_2_EQ4_A0 
Coef_R2[14h]=000000h ##Channel_2_EQ5_A1 
Coef_R2[15h]=000000h ##Channel_2_EQ5_A2 
Coef_R2[16h]=000000h ##Channel_2_EQ5_B1 
Coef_R2[17h]=000000h ##Channel_2_EQ5_B2 
Coef_R2[18h]=200000h ##Channel_2_EQ5_A0 
Coef_R2[19h]=000000h ##Channel_2_EQ6_A1 
Coef_R2[1ah]=000000h ##Channel_2_EQ6_A2 
Coef_R2[1bh]=000000h ##Channel_2_EQ6_B1 
Coef_R2[1ch]=000000h ##Channel_2_EQ6_B2 
Coef_R2[1dh]=200000h ##Channel_2_EQ6_A0 
Coef_R2[1eh]=000000h ##Channel_2_EQ7_A1 
Coef_R2[1fh]=000000h ##Channel_2_EQ7_A2 
Coef_R2[20h]=000000h ##Channel_2_EQ7_B1 
Coef_R2[21h]=000000h ##Channel_2_EQ7_B2 
Coef_R2[22h]=200000h ##Channel_2_EQ7_A0 
Coef_R2[23h]=000000h ##Channel_2_EQ8_A1 
Coef_R2[24h]=000000h ##Channel_2_EQ8_A2 
Coef_R2[25h]=000000h ##Channel_2_EQ8_B1 
Coef_R2[26h]=000000h ##Channel_2_EQ8_B2 
Coef_R2[27h]=200000h ##Channel_2_EQ8_A0 
Coef_R2[28h]=000000h ##Channel_2_EQ9_A1 
Coef_R2[29h]=000000h ##Channel_2_EQ9_A2 
Coef_R2[2ah]=000000h ##Channel_2_EQ9_B1 
Coef_R2[2bh]=000000h ##Channel_2_EQ9_B2 
Coef_R2[2ch]=200000h ##Channel_2_EQ9_A0 
Coef_R2[2dh]=000000h ##Channel_2_EQ10_A1 
Coef_R2[2eh]=000000h ##Channel_2_EQ10_A2 
Coef_R2[2fh]=000000h ##Channel_2_EQ10_B1 
Coef_R2[30h]=000000h ##Channel_2_EQ10_B2 
Coef_R2[31h]=200000h ##Channel_2_EQ10_A0 
Coef_R2[32h]=000000h ##Channel_2_EQ11_A1 
Coef_R2[33h]=000000h ##Channel_2_EQ11_A2 
Coef_R2[34h]=000000h ##Channel_2_EQ11_B1 
Coef_R2[35h]=000000h ##Channel_2_EQ11_B2 
Coef_R2[36h]=200000h ##Channel_2_EQ11_A0 
Coef_R2[37h]=000000h ##Channel_2_EQ12_A1 
Coef_R2[38h]=000000h ##Channel_2_EQ12_A2 
Coef_R2[39h]=000000h ##Channel_2_EQ12_B1 
Coef_R2[3ah]=000000h ##Channel_2_EQ12_B2 
Coef_R2[3bh]=200000h ##Channel_2_EQ12_A0 
Coef_R2[3ch]=000000h ##Channel_2_EQ13_A1 
Coef_R2[3dh]=000000h ##Channel_2_EQ13_A2 
Coef_R2[3eh]=000000h ##Channel_2_EQ13_B1 
Coef_R2[3fh]=000000h ##Channel_2_EQ13_B2 
Coef_R2[40h]=200000h ##Channel_2_EQ13_A0 
Coef_R2[41h]=000000h ##Channel_2_EQ14_A1 
Coef_R2[42h]=000000h ##Channel_2_EQ14_A2 
Coef_R2[43h]=000000h ##Channel_2_EQ14_B1 
Coef_R2[44h]=000000h ##Channel_2_EQ14_B2 
Coef_R2[45h]=200000h ##Channel_2_EQ14_A0 
Coef_R2[46h]=000000h ##Channel_2_EQ15_A1 
Coef_R2[47h]=000000h ##Channel_2_EQ15_A2 
Coef_R2[48h]=000000h ##Channel_2_EQ15_B1 
Coef_R2[49h]=000000h ##Channel_2_EQ15_B2 
Coef_R2[4ah]=200000h ##Channel_2_EQ15_A0 
Coef_R2[4bh]=000000h ##Channel_2_Mixer1 
Coef_R2[4ch]=7fffffh ##Channel_2_Mixer2 
Coef_R2[4dh]=7fffffh ##Channel_2_Prescale 
Coef_R2[4eh]=7fffffh ##Channel_2_Postscale 
Coef_R2[4fh]=c7b691h ##A0_of_R_channel_SRS_HPF 
Coef_R2[50h]=38496eh ##A1_of_R_channel_SRS_HPF 
Coef_R2[51h]=0c46f8h ##B1_of_R_channel_SRS_HPF 
Coef_R2[52h]=0e81b9h ##A0_of_R_channel_SRS_LPF 
Coef_R2[53h]=f22c12h ##A1_of_R_channel_SRS_LPF 
Coef_R2[54h]=0fcabbh ##B1_of_R_channel_SRS_LPF 
Coef_R2[55h]=000000h ##Reserve
Coef_R2[56h]=000000h ##Reserve
Coef_R2[57h]=000000h ##Reserve
Coef_R2[58h]=000000h ##Reserve
Coef_R2[59h]=000000h ##Reserve
Coef_R2[5ah]=000000h ##Reserve
Coef_R2[5bh]=000000h ##Reserve
Coef_R2[5ch]=000000h ##Reserve
Coef_R2[5dh]=000000h ##Reserve
Coef_R2[5eh]=000000h ##Reserve
Coef_R2[5fh]=000000h ##Reserve
Coef_R2[60h]=000000h ##Reserve
Coef_R2[61h]=000000h ##Reserve
Coef_R2[62h]=000000h ##Reserve
Coef_R2[63h]=000000h ##Reserve
Coef_R2[64h]=02bc7dh DRC2_Power_Meter
Coef_R2[65h]=000000h DRC4_Power_Mete
Coef_R2[66h]=000000h DRC6_Power_Meter
Coef_R2[67h]=000000h DRC8_Power_Meter
Coef_R2[68h]=000000h ##Channel_2_DEQ1_A1 
Coef_R2[69h]=000000h ##Channel_2_DEQ1_A2
Coef_R2[6ah]=000000h ##Channel_2_DEQ1_B1
Coef_R2[6bh]=000000h ##Channel_2_DEQ1_B2 
Coef_R2[6ch]=200000h ##Channel_2_DEQ1_A0
Coef_R2[6dh]=000000h ##Channel_2_DEQ2_A1 
Coef_R2[6eh]=000000h ##Channel_2_DEQ2_A2 
Coef_R2[6fh]=000000h ##Channel_2_DEQ2_B1 
Coef_R2[70h]=000000h ##Channel_2_DEQ2_B2 
Coef_R2[71h]=200000h ##Channel_2_DEQ2_A0 
Coef_R2[72h]=000000h ##Channel_2_DEQ3_A1 
Coef_R2[73h]=000000h ##Channel_2_DEQ3_A2 
Coef_R2[74h]=000000h ##Channel_2_DEQ3_B1 
Coef_R2[75h]=000000h ##Channel_2_DEQ3_B2 
Coef_R2[76h]=200000h ##Channel_2_DEQ3_A0 
Coef_R2[77h]=000000h ##Channel_2_DEQ4_A1 
Coef_R2[78h]=000000h ##Channel_2_DEQ4_A2 
Coef_R2[79h]=000000h ##Channel_2_DEQ4_B1 
Coef_R2[7ah]=000000h ##Channel_2_DEQ4_B2 
Coef_R2[7bh]=200000h ##Channel_2_DEQ4_A0 
Coef_R2[7ch]=000000h ##Reserve
Coef_R2[7dh]=000000h ##Reserve
Coef_R2[7eh]=000000h ##Reserve
Coef_R2[7fh]=000000h ##Reserve
